
* {
box-sizing: border-box;
} 


/* base style */


/* logo */

.header_logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-seri;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.web {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  
}

/* main nav */

.header_main__nav {
  display: flex;
  align-items: center;
}

/* site nav */

.header-container {
  display: flex;
  align-items: center;

}

.header {
  border: 1px solid var(--stroke-color);
}

.site_nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site_nav .site_nav__item {
  margin-right: 50px;
  display: block;
}

.site_nav .site_nav__item:last-child {
  margin-right: 0;
}

.site_nav .site_nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  
  
}



.contacts .contacts_item:not(:last-child) {
  margin-right: 50px;
}

.contacts .contacts_item {
  display: block;
  
}

.site_nav__item-link {
  display: flex;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  
}

.nav_link::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: -1px ;
  display: block;
  background-color: var(--accent-color);
}


.site_nav .site_nav__item-link:hover,
.site_nav .site_nav__item-link:focus,
.site_nav .site_nav__item-link.current {
  color: var(--title-text-color);
  color: var(--accent-color);
}




.contacts_link {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.contacts_link:hover,
.contacts_link:focus {
  color: var(--accent-color);
}

.contacts_icon {
  fill: currentColor;
  margin-bottom: 0px;
  margin-right: 10px;
  padding-top: 0;
  
  
}

/* Hero.*/

.hero {
  background-color: var(--background-color-two);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero-title {
  margin-top: 0%;
  margin-bottom: 30px;

  color: var(--hero-color);
  background-color: var();
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
}

/* section */



.team {
  background-color: var(--background-color);
}




.team-description {
  padding: 30px 32px;
}

/* features */


.feature-list {
  display: flex;
  padding: 0;
}

.feature-list .item {
  width: 270px;
  margin: 0 auto;
  margin-left: 0;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.feature-list,
title {
  margin: 0;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  list-style: none;
}

.title {
  margin-bottom: 10px;
  margin-top: 0;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  list-style: none;
}

.features-text {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feature-icon-blok {
  height: 120px;
  background-color: var(--background-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.info-list,
.team-list {
  margin-left: -30px;
}


.info-item,
.team-photo {

  margin-left: 30px;
  width: calc(100% / 3 - 30px);
}

.info-item {
  position: relative;
}

.info-item-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.info-box {
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(47,48,58,0.8);
  position: absolute;
  bottom: 0;

}

.info-item-text {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}


.team-photo {
  flex-wrap: wrap;
  width: 270px;
  padding: 0;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.12), 0px 1px 1px rgb(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Button */
.button-primary {
  display: inline-block;
  border: 1px solid transparent;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}



.button-primary {
  background-color: var(--accent-color);
  color: var(--hero-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  
 
}

.button-primary:hover,
.button-primary:focus {
  background-color: #188CE8
}

.our-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-bottom: 10px;
  margin-top: 0;
}


.team-text {
  margin-bottom: 16;
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
 
}

.our-team,
.team-text {
  text-align: center;
}

/* footer */


.contakts-address {
  font-style: inherit;
}

.contakts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contakts-item {
  margin-bottom: 9px;
}
.contakts-item:last-child {
  margin-bottom: 0;
}

.address-link {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-color);
  background-color: var(--background-color-two);
  text-decoration: none;
}


.footer-social {
  margin-left: 70px;
}

.footer-social-title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--hero-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  
}

.social-list {
  display: flex;
  justify-content: center;
  
}

.social-item {
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}




/* footer-iner-right */


/* portfolio */


.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgb(0, 0, 0, 0.16);
}



/* clients */

.clients-list {
  display: flex;
  margin-left: -30px;
  align-items: center;
  flex-wrap: wrap;
 

}

.clients-list-item {
  width: calc(100% / 6 - 30px);
  margin-left: 30px;
}

.clients-list-item-link:hover,
.clients-list-item-link:focus {
  border: 1px solid var(--accent-color); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-list-item-link {

  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.clients-icon {
  fill: var(--grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.clients-list-item-link:hover .clients-icon,
.clients-list-item-link:focus .clients-icon {
 fill: var(--accent-color);
}


/* overlay */

.box-images {
  position: relative;
  overflow: hidden;
}
  
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1), opacity 250ms cubic-bezier(0.4,0,0.2,1);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

}

  .portfolio-link:hover .overlay,
  .portfolio-link:focus .overlay {
  transform: translateY(0%);
  opacity:1;
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);

}

.overlay-text {
  margin: 0;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-color);

}

/* backdrop */
 


.modal-form-checkbox:checked + 
.modal-form-checkbox-label::before {
      background-image: url(../images/icon\ check.svg);
      background-position: center;
      background-size: contain;
      background-origin: border-box;
      border: transparent;
      
}

.checkbox-link {
  color: var(--accent-color);
}

.modal-form-button {
  align-self: center;
  border-color: transparent;
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
 
}
 